:root {
  font-family:
    "Sora",
    "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #102c2b;
  background: #edf0f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
}
